.About_module{
    background: url("../images/2.背景图旗子.jpg") no-repeat fixed center 0;
    h1{
        width: 160px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 165px;
        transform: translateX(-265%);
    }
    .content_title{
        width: 300px;
        height: 26px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 240px;
        padding: 4px 0 0 30px;
        font-size: 14px;
        transform: translateX(-75%);
        background: url("../images/about_02.jpg") no-repeat ;
    }
    .contentWrap{
        width: 500px;
        height: 400px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 320px;
        padding: 0;
        font-size: 16px;
        transform: translateX(-50%);
    }
    
}